<form (ngSubmit)="search()" class="mb-3">
    <div class="input-group mb-3">
        <input
            name="search-input"
            type="search"
            class="form-control"
            placeholder="Search for characters"
            aria-label="Search for characters"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            [(ngModel)]="characters"
            #searchInput
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>

    <div class="form-text">
        Use the wilcard <em>? (or space)</em> for any single character
    </div>
</form>

<app-words-list-result [wordList]="foundWords()"></app-words-list-result>
