.nav {
    background-color: #000080;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        color: #fff;
        flex: 0 0 auto;
    }
}

.word-info {
    padding: 0.2rem 0 0 0.7rem;
    background-color: #000080;
    color: #fff;
}
