@use 'bootstrap/scss/bootstrap';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(305, 100%, 91%);
    min-width: 344px;
}

nav {
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;

    button {
        background-color: #fff;

        &.active {
            background-color: bootstrap.$primary;
        }
    }
}

.main {
    padding: 0;
    flex: 1;
    border: 1px solid bootstrap.$primary;
    background-color: #fff;
    margin-bottom: 1rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/word-finder.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        opacity: 0.2;
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 1;
    }

    @include bootstrap.media-breakpoint-down(sm) {
        & {
            margin-bottom: 0;
        }
    }
}

#scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.7rem;
    background-color: #fff;
}
