@use 'bootstrap/scss/bootstrap';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ff0000;
    min-width: 344px;
}

nav {
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;

    button {
        background-color: #fff;

        &.active {
            background-color: bootstrap.$primary;
        }
    }
}

.main {
    padding: 0;
    flex: 1;
    border: 1px solid bootstrap.$primary;
    background-color: #fff;
    margin-bottom: 1rem;

    @include bootstrap.media-breakpoint-down(sm) {
        & {
            margin-bottom: 0;
        }
    }
}

#scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.7rem;
    background-color: #fff;
}
